
 <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :body, 'New comment'%><br/>
      </div>
      <div class="col-md-10">
        <%= f.text_area :body, row: 20, placeholder: 'Please input your comments', class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <div class="actions">
        <%= f.submit 'Add Comment' %>
      </div>
  </div>

