/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
	body { 
		text-align: center;
	     padding-top: 80px;
	}
	.navbar{
	    background-color:#E0FEFE;
		
	}
	.clearfix {
	        clear: both;
	}
	.a{
		text-decoration: none;
		color:  #151515;
	}
	nav{
		font-size: 0;
	}
	nav li{
		display: inline-block;
		font-size: 16px;
		padding: 0 2px;
	}

	nav li +li{
		border-left: 0.5px solid rgba(0,0,0,0.3);
	}

	nav a{
		display: block;
		padding: 6px 20px;
		text-decoration: none;
		transition: 0.5s;
	}

	nav a:hover{
		background-color: #ccc;
		color: #fff;
		border-radius: 1000px;
	}
	.user-gravatar {
	    display: inline-block;
	    width: 32px;
	    position: relative;
	    margin: 0;
	}

	.user-gravatar img {
	    position: absolute;
	    width: 32px;
	    height: 32px;
	    border-radius: 16px;
	    top: -22px;
	}


	.form {
	  text-align: left;
	  padding: 0 36%;
	  div {
	    margin-bottom: 4px;
	  }
	  .btn {
	    margin-bottom: 4px;
	  }
	}

	form > label {
	  width: 100%;
	  font-size: 1.5em;
	}

	form > input {
	  width: 100%;
	  margin-bottom: 12px;
	}




	.col-md-4 {
	  text-align: left;
	  margin: 0 30%;
	  padding:  12px 24px;
	  border: 1px solid black;
	  border-radius: 12px;
	  margin-bottom: 12px;
	 
	}
	.postboard{
	        width: 380px;
	        margin: 30px;
	        padding: 20px;
	        background-color: red;
	        float: left;
	        height: 260px;
	}
	.postboard {
	  margin-bottom: 30px;
	}
	.person_img {
	        float: left;
	        padding: 30px 0px;
	        width: 25%;
	}
    .wrap_footer {
        background-color: #313131;
    }
    
    .footer_bottom,
    .footer_top {
        width: 960px;
        padding-bottom: 10px;
        border-bottom: 1px solid #5E5E5E;
    }
    
    .footer {
        float: left;
        color: white;
    }
    
    .footer h2 {
        font-size: 25px;
    }
    
    .footer p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    .first {
        width: 20%;
    }
    
    .first p {
        color: #7A7A7A;
    }
    
    .second {
        width: 20%;
        padding-left: 20px;
    }
    
    .third {
        width: 15%;
        padding-left: 20px;
    }
    
    .fourth {
        width: 35%;
        padding-left: 50px;
    }
    
    .footer_bottom p,
    a {
        color: #7A7A7A;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    .fourth button {
        background-color: #F1FA89;
        color: #C0C0C0;
        padding: 12px;
        width: 80px;
        border: none;
        font-weight: bold;
    }
    
    .fourth input {
        background-color: #262626;
        color: white;
        padding: 12px;
        width: 200px;
        border: none;
    }
    

